/* Menu */

body {
    font-family: 'Baloo Thambi', cursive;
    font-size: 2em;
    padding-bottom: 5%;
    position: relative;
    min-height: 100%;
}

.bg-light {
    background-color: #457b9d !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #e63946;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* Body */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

h1 {
    text-align: center;
    padding: 1em;
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
    padding-left: 5em;
    padding-right: 5em;
    color: white;
}

/* Home */
#home {
    background-image: url("/resources/cool-background.jpg");
    background-size: cover;
}

/* Footer */

footer {
    background-color: #a8dadc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2em;
    color: #1D3557;
}

a:link {
    color: #e63946;
}

a:visited {
    color: #e63946;
}

a:active {
    color: blue;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2em;
}
