/* Menu */

body {
    font-family: 'Baloo Thambi', cursive;
    font-size: 2em;
    padding-bottom: 5%;
    position: relative;
    min-height: 100%;
}

.bg-light {
    background-color: #457b9d !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #e63946;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* Body */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

/* Home */
h1 {
    text-align: center;
    padding: 1em;
    color: 1D3557;
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: .7em;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
    padding-left: 5em;
    padding-right: 5em;
    color: 1D3557;
}


#home {
    background-image: url("/resources/cool-background.jpg");
    background-size: cover;
}

.hometext {
    color: white;
}

/* About */

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8vw;
    color: 1D3557;
}

.aboutpar {
    padding-left: 5em;
    padding-right: 5em;
}

.icons {
    text-align: center;
    padding-bottom: 2vw;
}

/* Facts */
.masonry {
    margin: .5em;
    column-gap: 1.5em;
    column-count: 4;
    width: 95%;
}

.item {
    display: inline-block;
    background: #a8dadc;
    padding: .5em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .6em;
    margin-bottom: .6em;
    width: 100%;
    box-sizing: border-box;
    border-radius: .3em;
}


.mason {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Comics */
.grid {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 95%;
}

.image img {
    width: 95%;
    padding: .5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: .6em;
    margin-bottom: .6em;
    background-color: #a8dadc;
}

/* Footer */

footer {
    background-color: #a8dadc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vw;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2em;
    color: #1D3557;
}

a:link {
    color: #e63946;
}

a:visited {
    color: #e63946;
}

a:active {
    color: blue;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2em;
}

/* If mobile */

@media (max-width: 767px) {
    .masonry {
        column-count: 1;
        width: 80%;
        margin-bottom: 2em;
    }

    .grid {
        grid-template: auto auto auto auto auto / 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }

    .item {
        border-radius: .1em;
    }

    footer {
        height: 8vw;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: .8em;
        padding: 1em;

    }

    p {
        font-size: 5vw;
    }

    .image {
        margin-left: .1em;
        margin-right: .1em;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        padding: .1em;
    }

    .grid {
        width: 75%;
    }
}
